/nbproject/private/
.env
config/constants.php
/resources/assets/js/admin-config/config.js
/resources/assets/js/user-config/config.js
/vendor
/node_modules
/bootstrap/cache/*.php
/public/.htaccess
/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpintel
/public/js/app.js